/* Approach.css */
.purple-blue-button {
  background-color: #6f42c1; /* Slightly purple-blue color */
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.grow-on-hover {
  transition: transform 0.3s ease; /* Smooth transition for the size change */
}

.grow-on-hover:hover {
  transform: scale(1.05); /* Scale the element to 105% on hover */
}

 .box {
    background: #2d004b;
    border: 1px solid #1e0909;
    border-radius: 10px;
    height: 200px;
    width: 200px;
  }
  
  .arrow {
    padding: 0 5px;
    color: #333;
    font-size: 20px;
  }